<div class="row justify-content-center">
    <div class="col-10">
        <img src="../../assets/images/building.jpg" alt="Building" class="img-fluid pt-3">
    </div>
    <div class="col-10">
        <div class="text-center">
            <img src="../../assets/images/req.png" alt="req" class="m-5"><br>
            <h1 class="text-danger">Real Estate Investing Information That Matters to You.</h1>
            <h6 class="text-muted m-3">Limited to the San Francisco Bay Area - Join our BETA!</h6>
            <button class="btn btn-deafult mt-5 red-btn" routerLink="/signup">SIGN UP WITH LINKDIN</button>
            <br>
            <button class="btn btn-deafult">SIGN IN</button>
        </div>
    </div>
</div>